@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Uğurlu əməliyyat";
    Layout = "_Layout";
}

<h2>Uğurlu əməliyyat</h2>
<a class="btn btn-group" asp-action="Index">Ana səhifə</a>
<a class="btn btn-group" asp-action="Index" asp-controller="Transactions">Satışlar</a>
<a class="btn btn-group" asp-action="Index" asp-controller="Clients">Müştərilər</a>
<a class="btn btn-group" asp-action="Index" asp-controller="Products">Məhsullar</a>
<a class="btn btn-group" asp-action="Index" asp-controller="Inventory">Anbar</a>
