@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Uğurlu əməliyyat";
    Layout = "_Layout";
}

<h2>Uğurlu əməliyyat</h2>
<a class="btn btn-link" asp-action="Index">Ana səhifə</a>
<a class="btn btn-link" asp-action="Index" asp-controller="Transactions">Satışlar</a>

